<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <button type="submit" name="year" value="2003">2003</button>
        <button type="submit" name="year" value="2004">2004</button>
        <button type="submit" name="year" value="2005">2005</button>
        <button type="submit" name="year" value="2006">2006</button>
        <button type="submit" name="year" value="2007">2007</button>
        <button type="submit" name="year" value="2008">2008</button>
        <button type="submit" name="source" value="Oil and Gas">Oil and Gas</button>
        <button type="submit" name="source" value="Agriculture">Agriculture</button>
    </form>
    
    
    <iframe src="/static/map.html" height="500" width="800"></iframe>
</body>
</html>